@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

:root {
  --theme-green: #44a076;
  --sidebar-green: #54b689;
}

html,
body {
  font-family: 'Nunito', sans-serif;
  line-height: 1.5;
  scroll-behavior: smooth;
  height: 100vh;
}
/* .socials a {
    text-decoration: none;
    color: var(--theme-green) !important;
} */
.socials .fab {
  color: var(--theme-green) !important;
}
.aside-menu {
  border-right: 0.2rem solid var(--theme-green);
  background-color: var(--sidebar-green);
}
.menu-list ul li:not(:last-child) {
  margin-bottom: 1.2rem;
}
.section-title {
  text-transform: capitalize;
}
.section-title {
  border-left: 4px solid var(--sidebar-green);
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0.5rem;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0,0,0,0.08) !important;
}

h3.section-title {
  font-size: 1.3rem !important;
}
.is-theme-green {
  background-color: var(--theme-green);
  color: #fff;
}

.content {
  max-width: none !important;
  padding-left: 0.44rem;
  padding-right: 1.68rem;
  width: 100%;
}

.skill-card {
  height: 17rem !important;

}

:is(.lni-write, .lni-code-alt, .lni-support) {
  font-size: 3.75rem !important;
  color: var(--theme-green);
}