@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

:root {
  --theme-green: #44a076;
  --sidebar-green: #54b689;
  --html-red: #de6e3c;
  --css-blue: #53a7dc;
  --js-yellow: #f1de4f;
  --vue-green: #64b687;
  --laravel-red: #ff2d20;
  --php-blue: #777baf;
  --python-blue: #456e9c;
  --git-red: #bd2c00;
  --docker-blue: #0db7ed;
  --react-blue: #62d4fa;
  --color: #243746;
  --color-primary: #158876;
  --color-secondary: #0e2233;
  --bg: #f3f5f4;
  --bg-secondary: #fff;
  --border-color: #ddd;
  --github-black: #333;
  --discord-blue: #7289da;
  --telegram-blue: #0088cc;
}

.dark-mode {
  --color: #ebf4f1;
  --color-primary: #41b38a;
  --color-secondary: #fdf9f3;
  --bg: linear-gradient(to right, #141e30, #243b55);
  --bg-secondary: #1a2733;
  --border-color: #0d2538;
  background-image: linear-gradient(to right, #141e30, #243b55);
}
.sepia-mode {
  --color: #433422;
  --color-secondary: #504231;
  --bg: #f1e7d0;
  --bg-secondary: #eae0c9;
  --border-color: #ded0bf;
}

.dark-mode h1, 
.dark-mode h2,
.dark-mode h3,
.dark-mode h4, 
.dark-mode h5,
.dark-mode h6 {
  color: #fff !important;
}
 
.card {
  background-color: var(--bg);
}
.dark-mode  .card p {
  color: #fdf9f3;
}
.dark-mode .has-text-grey-dark {
  color: #fdf9f3 !important;
}
html,
body {
  font-family: 'Nunito', sans-serif;
  line-height: 1.5;
  scroll-behavior: smooth;
  height: 100vh;
  background-color: var(--bg);
  color: var(--color);
  transition: background-color 0.3s;
}
/* .socials a {
    text-decoration: none;
    color: var(--theme-green) !important;
} */
.socials .fab {
  color: var(--theme-green) !important;
}
.aside-menu {
  border-right: 0.2rem solid var(--theme-green);
  background-color: var(--sidebar-green);
  overflow-y: auto;
}
.aside-menu .fab {
  color: #fff !important;
}

.menu-list ul li:not(:last-child) {
  margin-bottom: 1.2rem;
}
.section-title {
  text-transform: capitalize;
}
.section-title {
  border-left: 4px solid var(--sidebar-green);
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
  padding: 0.5rem;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.08) !important;
}

h3.section-title {
  font-size: 1.3rem !important;
}
.is-theme-green {
  background-color: var(--theme-green);
  color: #fff;
}

.content {
  max-width: none !important;
  padding-left: 0.44rem;
  padding-right: 1.68rem;
  width: 100%;
}

.skill-card {
  height: 17rem !important;
}

:is(.lni-write, .lni-code-alt, .lni-support) {
  font-size: 3.75rem !important;
  color: var(--theme-green);
}
.fa-twitter:hover {
  color: var(--docker-blue) !important;
}
.fa-telegram:hover,
.fa-linkedin:hover {
  color: var(--telegram-blue) !important;
}
 .fa-discord:hover {
  color: var(--discord-blue) !important;
}
.fa-github:hover, 
.fa-dev:hover {
  color: var(--github-black) !important;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.no-gutters > .column,
.no-gutters > [class*='is-'] {
  padding-right: 0;
  padding-left: 0;
}
.project-card {
  position: relative;
  height: 110%;
}
.img {
  vertical-align: middle;
  border-style: none;
}
.project-img-holder {
  max-height: 12.5rem;
  overflow: hidden;
  vertical-align: middle;
}
.project-img {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}
.project-title {
  margin-bottom: 0.5em !important;
}

.project-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.project-card:hover .columns .column {
  background-color: #fff;
}


.dark-mode .project-card:hover .columns .column {
  filter: brightness(10%);
}

.project-card:hover .columns .column {
  filter: brightness(50%);
}
.project-card:hover .project-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}
.fadeIn-bottom {
  top: 80%;
}
.skill-icon {
  font-size: 1.875rem;
}
.skill-title {
  font-size: 1rem !important;
}

.lni-html5 {
  color: var(--html-red);
}
.lni-css3 {
  color: var(--css-blue);
}
.lni-docker {
  color: var(--docker-blue);
}
.lni-python {
  color: var(--python-blue);
}
.lni-laravel {
  color: var(--laravel-red);
}
.lni-php {
  color: var(--php-blue);
}
.lni-git {
  color: var(--git-red);
}
.lni-nodejs {
  color: var(--sidebar-green);
}
.lni-javascript {
  color: var(--js-yellow);
}
.fa-vuejs {
  color: var(--vue-green);
}
.lni-react {
  color: var(--react-blue);
}

.contact-btn {
  border: none;
}

pre {
  background-color: #23241f;
}
.blog-body {
  line-height: 1.5;
}
.aside-menu {
  position: sticky;
}
.stack-list {
  list-style: none;
  display: inline-flex;
}
.stack-list li:not(:last-child):after{
  content: ", ";
}
.stack-list li:last-child:after {
  content: ".";
}
/* media queries */

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .project-img-holder {
    max-height: 18.75rem;
    overflow: hidden;
    vertical-align: middle;
  }
  .skill-card {
    height: 19rem !important;
  }
}
